# Copy this file or single lines to ~/.gitconfig

[alias]
  co = checkout
  b = branch
  s = status -s
  df = diff --color --color-words --abbrev
  p = push
  up = "!git remote update -p; git merge --ff-only @{u}"
  # Log display from screencast, with train tracks.
  l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
  # Other useful aliases:
  unstage = reset HEAD
  staged = diff --cached
  unstaged = diff
  current-branch = !git symbolic-ref -q HEAD | sed -e 's|^refs/heads/||'
  # Usage: git track origin/feature-123-login-form
  track = checkout -t
  ci = commit
  di = diff
  dc = diff --cached
  amend = commit --amend
  aa = add --all
  pullff = pull --ff-only
  fa = fetch --all

[apply]
  whitespace = fix
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[help]
  autocorrect = 1
[status]
  submodule = 1
[push]
  # Only push branches that have been set up to track a remote branch.
  default = current
[user]
	email = bmac325@GMail.com
   	name = bmac
